body {
  margin: 0 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  padding: 5px 0;
  background-color: #0a1a1f;
  color: #fff;
}
.header .gps-data {
  padding: 5px 0;
}
.header .gps-data div {
  padding: 5px 0;
}
.header button {
  padding: 10px;
  background-color: #00d1a7;
  color: #0a1a1f;
  border: 0;
  font-size: 15px;
  font-weight: bold;
}
